.About {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.About h1 {
    text-align: center;
    margin: 0;
}

.link-box {
    display: flex;
    align-items: center;
}

.link {
    padding-left: 10px;
    font-size: 28px;
    text-decoration: none;
}