.Contact {
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

.Contact h1 {
    text-align: center;
    margin: 0;
}

.Contact ul {
    font-size: 30px;
}

.link {
    text-decoration: none;
}